#footer{
    //background-image: url(../imgs/footerbg.jpg);
    background-color: rgb(12, 12, 77);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
    //margin-top: 20px;
    color: lightblue;

    .footer1{
        margin-left: 30px;
    }

    .text{
        font-size: 18px;
    }

    
}


