#header{
    //background-image: url(../imgs/fighterjet.jpg);
    background-color: rgb(12, 12, 77);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;

    
  #title{
        margin-top: 5px;
        color: lightblue;
  }

  #items{
      margin-top: 24px;
      margin-left: 100px;
    a{
        
        text-decoration: none;
        color: rgb(25, 34, 43);
        font-size: 11px;
        color: lightblue;
    }
  }

  #items a:hover{
     color: aqua;
  }

  #logos{
    margin-left: 150px;
  }

}